header{
  
    display: grid;
    grid-template-columns: 80px 1300px 1fr 300px;
    padding: 20px 250px;

}

.botton{
    border-style: solid;
    border-radius: 55px;
}

.btn-blanco{
    background-color: aliceblue;
}

.btn-negro{
    background-color: black;
    color: aliceblue;
}

.registro{
    grid-column: 4/5;

}
nav a{
    margin: 0 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
}


img{
    width: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

footer{
    padding: 30px;
}


h1{
       text-align: center;
       font-size: 50px;
}



.introduccion{
    background-color: rgb(11, 139, 112);  
    color: aliceblue;
    padding: 100px 600px;
}

.alebrije{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 150px;
    width: 50%;
 

}
.image1 img{
    width: 100%;
}
.image1{
    width: 50%;
}

.secalebrije{
    display: flex;
    background-color: rgb(204, 4, 4);
    margin-bottom: 20px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 50px;
}

.imgcopry img{
    width: 3%;
}

